 
.caixa-pokemon{
    width: auto;
    height: auto;
    border-radius: 15px;
    box-shadow: 10px 20px  30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #1051aa;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #1051aa;
}

.pokemon{
    flex-direction: column;
}

.separa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.detalhes{
    width: 350px;
}

.detalhes h3, h2{
    color: black;
}

.detalhes p{
    width: auto;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}


 



 