body{
    margin: 0;;
}

/* BARRA VERDE======================= */
.barra-verde{

    background-color: #002ea8;

    height: 10px;
    width: 100vw;
}

/* GRID===================================== */

.grid{
    display: grid;
    width: 100vw;
    height: 800px;
    grid-template-columns: repeat(1, 1tr);
    grid-template-rows: repeat(5,minmax(100vw auto));
    grid-template-areas: 
    "header"
    "main"
    "section"
    "aside"
    "footer";
}







/* HEADER:============================================= */

header{
    display:flex;
    justify-content: center;
    width: 100vw;

    /* PARALAX DO BANNER */
    grid-area: header;
    background-image: url("../img/mapa.png");

   
     height: 700px; 
     
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center ;
     background-repeat: no-repeat;
     
}

.caixa{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    width: 70%;
     
}
.txt1{
    width: 400px; 
}
.txt1 p{
    color: black;
}

header h3{
    width: 400px;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Pacifico', cursive;
    font-size: 35pt;
    color: black;
    font-weight: 500;
    text-align: start;
    margin: 0 auto;
}

header  span{
    color: #002ea8;   
}

header p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    color: white;
    
}

 
 

.rodela{
    width: 50px;
    height: 50px;
    border-radius: 100px; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 1s;
}

 

.rodela:hover{

    background-color: #002ea8;
}

.rodela a{
    color: white;
}

.imagem{
    width: 22vw;
    align-self: flex-end;
    align-items: center;
} 

.imgimg{
    width: 100%;
    
}









/* MAIN =============================*/

main{
    grid-area: main;
    height: 350px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.estruturar{
    width: 100vw;
    height: 300px;;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

 

 

.circulo{
    width: 90px;
    height: 90px;
    border-radius: 100px; 
    cursor: pointer;
    background-color: #002ea8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;     
}


.cx img{
    width: 300px;
    background-size: 100%;
    transition: .3s;
    cursor: pointer;
}

.cx img:hover{
    margin-top: -20px;
    width: 320px;
}











/* SECTION============================= */
section{
    grid-area: section;
    background-color: #e3e3e3;
    width: 100vw;  
    height: 450px; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.section{
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.texto{

    width: 30vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    
}

.texto h2{
    font-family: sans-serif;
    font-size: 12;
}

.texto p{
    font-family: sans-serif;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs [type=text] {
    padding: 12px;
    width: 250px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none; 
    border: 1px solid #f7f7f7;
    
}

.inputs [type=text]:hover{
     
    border: 1px solid #002ea8 ;
}


.inputs button{
    padding: 10px;
    width: 100px;
    background-color: #002ea8 ;
    border: none;
    cursor: pointer;
    font-size: 12pt;
    font-weight: 500;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.inputs button:hover{
    background-color: #fff;
    color: #1DB954 ;
}

 


.video{
     
    width: 600px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    
     
}


 

 

 











/* ASIDE================================ */
aside{
    grid-area: aside;
    width: 100vw;
    height: 400px;
   


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.final{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#paragrafo1{
    font-family: sans-serif;
    font-size: 11pt;
    font-style: italic;
    color: gray;
    width: 50vw;
    text-align: center;
      
}

#titulo1{
    font-family: sans-serif;
    font-size: 12pt;
    width: 50vw;
    text-align: center;
    margin: 0 auto;
     
}

.img6{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px;
    
}
.img6 img{
    width: 50px;
    height: 50px;
}

 

.clara{
    opacity: 0.5; 
}

.titulo2{
    font-family: sans-serif;
    font-size: 16pt;
    width: 50vw;
    text-align: center;  
}

.paragrafo2{
    font-family: sans-serif;
    font-size: 11pt;
    font-style: italic;
    color: gray;
    width: 50vw;
    text-align: center;
}

.social{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.icones1{
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;   
    cursor: pointer;
}

.icones2{
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;   
}

.icones3{
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;   
    cursor: pointer;
}

.icones4{
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;   
    cursor: pointer;
}

.icones5{
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;  
    cursor: pointer;    
}

.icones1:hover{
    background-color: #002ea8;
     
     
}

.icones2:hover{
    background-color: #002ea8;
}

.icones3:hover{
    background-color: #002ea8;
}

.icones4:hover{
    background-color: #002ea8;
}

.icones5:hover{
    background-color: #002ea8;
}

 
 








/* FOOTER-================================ */
footer{
    grid-area: footer;
    width: 100vw;
     
    display: flex;
    justify-content: center;
    background-color:  #e3e3e3;
}

footer h1 h2 a{
    font-family: sans-serif;
}

.contatos{
    height: 90px;
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
     

}

.contatos a{
    text-decoration: none;  
    color: black;
    font-family: sans-serif;
    font-size: 11pt;

}

.contatos a:hover{
    color: #002ea8 ;
}


/* AGORA A PARTE MAIS DIFICIL DO MUNDO HAHAHA */

/* MEDIAQUERY */


@media (max-width: 500px){
    /* CONFIGURANDO APENAS O ASIDE */
    .txt1{
        width: 100vw;
    }
}

/* Breakpoint para phone 1000px =====================*/
@media (max-width: 900px) { 
    header{
        width: 100vw;
        background-size: none;
        background-position: none ;
        background-repeat: no-repeat;
        background-attachment: none;
        height: auto;
    }
    .caixa{
        
        justify-content: center;
        flex-direction: column;
        width: auto;
    }
    .imagem{
        width: 50px;
        margin-right: 30px;
       
    }



    /* ESTRUTURA MAIN */
    main{
        height: 1000px;
    }
    .estruturar{
        display: flex;
        flex-direction: column;
         
    }


    /* ESTRUTURA SECTION */
    
    .section{
        height: 800px;    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .texto{
        width: 80vw;
        height: auto;
    }
    .inputs [type=text]{
        width: 150px;
    }
    .video{
        display: none;
        
    }


    

    /* ESTRUTURA ASIDE */

    aside{
        height: 600px;
    }
    #paragrafo1{
        width: 90vw;
    }
    .img6{
        width: 99vw;
        display: table-row;
    }
    aside .social{
        width: 40vw;
    }

    /* ESTRUTURA FOOTER */

    .contatos{
        width: 90vw;
    }

    footer{
        width: 100vw;
    }
     
    
    
 }



 
/* Breakpoint para tablets 1200px =====================*/
@media ( max-width: 1300px) { 
    header{
        width: 100vw;
        background-size: none;
        background-position: none ;
        background-repeat: no-repeat;
        background-attachment: none;
        height: auto;
    }
    .caixa{
        width: 100vw;
        flex-direction: space-around;
    }
    .imagem{
        width: 30vw;
    }

    /* ESTRUTURA SECTION */

    section{
        height: 800px;
    }
    .section{
        width: 100vw;
    }

 }







 /* Breakpoint para notbooks 1600px =====================*/
@media (max-width: 1600px) {  
    header{
        width: 100vw;
        background-size: none;
        background-position: none ;
        background-repeat: no-repeat;
        background-attachment: none;
        height: auto;
    }
    .caixa{
        width: 100vw;
        flex-direction: space-around;
    }
    .imagem{
        width: 30vw;
    }

    /* estruturando o section */

    section{
        height: 500px;
    }

    /* ESTRUTURANDO O ASIDE */
    aside{
        height: 700px;
    }
    #paragrafo1{
        width: 90vw;
    }
    
    .img6{
        width: 80vw;
        display: table-row;
        
    }
    .social{
        width: 20vw;
    }

 }



  


