{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
    <script defer src="{% static 'js/script_home.js' %}"></script>
    <script defer src="{% static 'js/pokeapi.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Gilda+Display" rel="stylesheet">
    <title>Pokémon</title>
</head>
<body>
    <!--     _.----.        ____         ,'  _\   ___    ___     ____
_,-'       `.     |    |  /`.   \,-'    |   \  /   |   |    \  |`.
\      __    \    '-.  | /   `.  ___    |    \/    |   '-.   \ |  |
 \.    \ \   |  __  |  |/    ,','_  `.  |          | __  |    \|  |
   \    \/   /,' _`.|      ,' / / / /   |          ,' _`.|     |  |
    \     ,-'/  /   \    ,'   | \/ / ,`.|         /  /   \  |     |
     \    \ |   \_/  |   `-.  \    `'  /|  |    ||   \_/  | |\    |
      \    \ \      /       `-.`.___,-' |  |\  /| \      /  | |   |
       \    \ `.__,'|  |`-._    `|      |__| \/ |  `.__,'|  | |   |
        \_.-'       |__|    `-._ |              '-.|     '-.| |   |
                                `'                            '-._| -->
    <h1 alt="click-me">PokéSearch</h1>
    <form action="">
        <input id=box type="text" placeholder="Enter Pokémon types" onkeypress="myFunction()">
        <!-- <p>Search for Pokémon.</p> -->
    </form>
    <main class="poke-container">
        
    </main>

    <img id=Pikachu src="{% static 'img/Pikachu.gif' %}" alt="">
</body>
</html>