body {
  background: radial-gradient(
    ellipse at center,
    #b5bdc8 0%,
    #828c95 36%,
    #28343b 100%
  );
  min-height: 600px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.pen-title {
  margin: 36px 0;
  color: #fff;
  padding-bottom: 36px;
  border-bottom: 1px solid #999;
}

.title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.person {
  background: radial-gradient(ellipse at center, #ffffff 0%, #e5e5e5 100%);
  border: 1px solid #666;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

&__header {
  font-size: 24px;
  text-transform: capitalize;
  margin: 15px 0 30px;
}

&__map {
  background: white;
  border: 2px solid #88b5de;
  border-radius: 5px;
  padding: 5px 5px 0;
  margin: 0 15px 15px;
}
