

.form-control-borderless {
    border: none;
}
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.card.card-pokemon{
width: 18rem;
margin: 10px;
}
.card-body{
    text-align: center;
}
.row{
    justify-content: center;
}