.detail-view {
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0;
  display: none;
  width: auto;
  height: auto;
  background: rgb(34,34,34);
  background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,241,241,1) 100%);
  margin: 0 auto;
  padding: 12em;
  color: #222222eb;
  text-align: center;
  overflow: hidden;
  z-index: 99;
} 

.close {
  position: relative;
  bottom: 70px;
  background: #222222eb;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  color: #FFF;
}

.sprite-image {
  background-color: #222222eb;
  width: 120px; 
  height: 120px;
  border-radius: 5px;
  color: #585858;
}

.data-name {
    font-size: 1em;
    margin: 0 0 5px;
    text-transform: capitalize;
}

.data-char {
  font-style: italic;
  margin: 0;
}