.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 489px;
  padding-left: 10px;
  margin: 50px auto;
  background-image: url(../src/assets/eecb19a7a4a6aed08dc9abd6238616ec.png);
  border-radius: 10px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}