* {
    box-sizing: border-box;
  }

  .card {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 25px;
    width: 17%;
    max-width: 960px;
    margin: 50px auto;
    border-style: dashed;
    text-align: center;
  }

  .card:hover{
    background: rgb(151, 23, 23);
    color: #fff;
    transform: translateY(0);
    opacity: 0.8;
    transition: 0.5s;
    text-align: center;
    transition-delay: 0.1s;
    transform: rotate(5deg);
  }

  .card__perfil:hover{
    width: 300px;
    height:200px;
    transition: 0.5s;
  }
  
  .card__perfil {
    width: 100%;
    max-width: 200px;
    margin-right: 50px;
    border-radius: 10px;
  }
  
  .card__nome {
    margin: 0;
    font-size: 24px;
  }
  
  .comentario hr {
    max-width: 200px;
    margin-left: 0;
  }
  