* {
    box-sizing: border-box;
  }
  
  .comentario {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 25px;
    display: flex;
    max-width: 960px;
    margin: 50px auto;
    border-style: dashed;
  }
  
  .comentario__perfil {
    width: 100%;
    max-width: 200px;
    margin-right: 50px;
    border-radius: 10px;
  }
  
  .comentario__nome {
    margin: 0;
    font-size: 24px;
  }
  
  .comentario__subtitulo {
    margin: 0;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 20px;
  }
  
  .comentario hr {
    max-width: 200px;
    margin-left: 0;
  }
  