body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 
}

h1 {
    font-family: 'Gilda Display', serif;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10%;

    font-size:90px;
    -webkit-background-clip: text;
    color: white;
    -webkit-text-fill-color: transparent;
    background-color:#FFF;
    /* background-image: -webkit-gradient(linear,left top,right top,from(#ea8711), to(#d96363)); */
    background-image: -webkit-linear-gradient(left,#4285f4,#4285f4, #ea4335,#fbbc05,#4285f4,#34a853, #34a853);
    background-image: -moz-linear-gradient(left,#4285f4,#4285f4, #ea4335,#fbbc05,#4285f4,#34a853, #34a853);
    background-image: -ms-linear-gradient(left,#4285f4,#4285f4, #ea4335,#fbbc05,#4285f4,#34a853, #34a853);
    background-image: -o-linear-gradient(left,#4285f4, #4285f4,#ea4335,#fbbc05,#4285f4,#34a853, #34a853);
}

h1:hover {
    background-color: black;
    cursor: pointer;
}

p {
    text-align: center;
    text-decoration-color: gray;
}

#box {
 border: none;
 width: 500px;
 height: 35px;
 text-align: center;
}

#box:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 1px 1px 0 rgba(0,0,0,0.19);
}

#pokebola {
    height: 50px;
}

#Pikachu {
    margin-top: 20px;
    display: none; 
}