/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600');

body {
  margin: 0px;
  font-family: Cinzel Decorative, sans-serif;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.884),rgba(0, 0, 0, 0.829)
  ),
  url('./assets/bg.jpg') no-repeat;
  background-attachment: fixed;
}
